<?xml version='1.0' encoding='utf-8'?>
<widget id="com.creepypastas.beta" version="0.33.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Creepypastas</name>
    <description>Las actualizaciones de @Creepypastas en tu smartphone.</description>
    <author email="contacto@creepypastas.com" href="https://creepypastas.com/">Creepypastas</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <preference name="android-maxSdkVersion" value="18" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-admobpro" spec="~2.13.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.2" />
    <plugin name="ionic-plugin-keyboard" spec="~2.0.1" />
    <plugin name="cordova-plugin-customurlscheme" source="npm">
      <param name="URL_SCHEME" value="creepypastas" />
    </plugin>
    <plugin name="cc.fovea.cordova.purchase" source="npm" version="4.0.0">
       <param name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAh+lU+dxfIq8iFRkA90AwC1pNj9g7gd2giTf0f4PD5TSAUdy3TcpOUqHZTjPmU+KsFHZQWNPtt1kSLBfAOD12mawCw0BlAJTZZ/2/zJ34nOIjn7wCbFnZwC8H3MH9KS6wahTSr/WkvE5Au4wXEF5s0q1a0oPWEFrh/XzC6+j+65N5sCLhTe5946MYHu0+g66u5mDe8v7Zx7ucpnXAwVyGVQea6AgGdOdnKe6pDFlqjc49+VFITFU+geqpQjgw6N07w6wkK7MWAkoDTES0pY0vz+fqQswfVqFLZudpaOPynF+vu/J/o27wtvOB4Bnq0S1xS+OMbS9tqrvwv29BGQN1TQIDAQAB"/>
    </plugin>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
</widget>
