// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/getting-started/getting-started";

@import "../pages/list/list";

.app-login-page{
  background: url(https://raw.githubusercontent.com/Creepypastas/ionic-app/admob/www/img/bg.jpg) center;
  background-size: cover;
}
.app-login-page, .app-login-page p{
  color: white;
}
.slide-title{
  font-size: 42px;
}
.article-dark-title{
  color: #BB2020;
}
.item-inner{
  border-top: 1px solid #252525 !important;
  border-bottom: 1px solid #252525 !important;
}
ion-list > .item:first-child{
  border-top: 1px solid #252525 !important;
}
ion-list > .item:last-child{
  border-bottom: 1px solid #252525 !important;
}
.searchbar-input{
  background-color: #222222 !important;
  color:#bbb;
}
.swiper-pagination-bullet{
  background-color: #ccc !important;
}


/**
  Advanced-cards
**/
ion-content ion-card ion-item.advanced-trans p {
  color: #fff;
}

ion-card p.advanced-background-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 48%;
  width: 100%;
  color: #fff !important;
}

.advanced-background {
  position: relative;
  text-align: center !important;
}

ion-card ion-item.advanced-trans.item {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 12px 20px !important;
  background: transparent;
}
ion-card ion-item.advanced-trans.item p {
  font-size: 12px;
  letter-spacing: 1.7px;
  font-weight: 500;
  opacity: 0.7;
}

ion-card p.advanced-background-title {
  position: absolute;
  top: 32%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff !important;
}

ion-card p.advanced-background-title-large {
  top: 29%;
  font-weight: normal;
  font-size: 4.4em;
  color: #fff !important;
}
ion-card p.advanced-background-title-large span {
  vertical-align: top;
  padding-top: 5px;
  font-size: 72px;
  height: 74px;
  line-height: 1;
  display: inline-block;
}
