// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/getting-started/getting-started";

@import "../pages/list/list";

.app-login-page{
  background: url(https://raw.githubusercontent.com/Creepypastas/ionic-app/admob/www/img/bg.jpg) center;
  background-size: cover;
}
.app-login-page, .app-login-page p{
  color: white;
}
.slide-title{
  font-size: 42px;
}
.article-dark-title{
  color: #BB2020;
}
.item-inner{
  border-top: 1px solid #252525 !important;
  border-bottom: 1px solid #252525 !important;
}
ion-list > .item:first-child{
  border-top: 1px solid #252525 !important;
}
ion-list > .item:last-child{
  border-bottom: 1px solid #252525 !important;
}
.searchbar-input{
  background-color: #222222 !important;
  color:#bbb;
}
.swiper-pagination-bullet{
  background-color: #ccc !important;
}
