<ion-navbar *navbar darks>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Creepypastas</ion-title>
</ion-navbar>

<ion-content>

  <div *ngIf="requestedItem" padding>
    <article class="article-dark">
      <h4 class="article-dark-title">
        <ion-icon name="document"></ion-icon>
        <span [innerHTML]="requestedItem[1].title"></span>
      </h4>
      <div class="border-top article-content" [innerHTML]="requestedItem[1].content">
      </div>
    </article>
  </div>


</ion-content>
<button fab danger fab-bottom fab-right style="z-index: 999" (click)="goRandom()">
  <ion-icon *ngIf="!isLoading" name="shuffle" is-active="false"></ion-icon>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</button>
