<ion-navbar *navbar darks>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Categorías</ion-title>
</ion-navbar>
<ion-content class="has-header components-demo cards-bg">
  <ion-card *ngFor="#item of creepypastasCategories.filtered" class="advanced-background" (click)="requestFilteredCreepypastas($event, item[1])">
    <img *ngIf="!item[1].image"src="img/categories_background.jpeg"/>
    <img *ngIf="item[1].image" src="{{item[1}.image}"/>
    <p class="advanced-background-title">{{item[1].name}}</p>
    <p class="advanced-background-subtitle">{{item[1].post_count}} creepypastas</p>
  </ion-card>
</ion-content>
